#menu-container{
    font-family: "Staatliches", serif;
}

#menu-container-intro{
    height: 400px;
}

#menu-title{
    font-size: 8rem;
    color: var(--secondary-text-color);
}

.menu-type{
    width: 380px;
    height: 400px;
    border-radius: 10px;
}