#menu-container{
    font-family: "Staatliches", serif;
}

#menu-container-intro{
    background-image: url("../imgs/steak.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
}

#menu-title{
    font-size: 8rem;
    color: var(--primary-text-color);
}

.menu-type{
    width: 300px;
    height: 340px;
    border-radius: 10px;
}

.inner-menu-type{
    height: 340px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.menu-images{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sub-menu-button{
    background-color: var(--secondary-bg);
    color: var(--primary-text-color);
    padding: 10px;
    margin-top: 50px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.sub-menu-button:hover{
    background-color: red;
}

.bottom-food-row{
    color: var(--primary-text-color);
    background-color: var(--secondary-bg);
    padding-bottom: 50px;
    padding-top: 50px;
}